
*{
margin: 0;
padding: 0;
}

body{
min-height: 100vh;
background-color: #596275;



}

.images-container{
display: flex;
align-items: center;
justify-content: center;
max-width: 1340px;
padding: 0px 20px;
}

.image-card{
width: 240px;
height: 360px;
overflow: hidden;
position: relative;
cursor: pointer;
border-radius: 6px;
box-shadow: -6px 6px 20px #00000070;
transition: .3s linear;


}
.image-card img{
width: 100%;

}


.image-card:not(:first-child){
margin-left: -50px;

}

.image-card:hover{
transform: translateY(-24px);
}

.image-card:hover ~ .image-card{
transform: translateX(60px);


}
.container .title{
padding: 50px 15px;

}
.container .title .name{
font-size: 48px;
color: white;

}
.container .title .about{
font-size: 18px;
color: white;
margin: 20px 0px;
}


@media(max-width: 1200px){
    .images-container{
        flex-wrap: wrap;
    }
}
